body {
  background-color: rgb(114, 128, 253);
  color: white;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-size: 21px;
  font-weight: lighter;
}

p {
  text-align: left;
  overflow-wrap: normal;
}

h1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 50px;
}

h2 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
}

h3 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 28px;
  margin-bottom: -10px;
}

/* Header */
.h1-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* Main */
.main-wrapper {
  max-width: 80vw;
  margin: auto;
  text-align: center;
}

.line {
  width: 80vw;
  height: 3px;
  background-color: black;
  margin-bottom: 20px;
}

#main {
  max-width: 80vw;
  display: flex;
  gap: 30px;
}

#profielfoto {
  width: 350px;
  height: 250px;
  border: solid black 4px;
  border-radius: 10%;
}

#visie {
  max-width: 80vw;
  text-align: left;
}

#visie :first-child {
  margin-bottom: -15px;
}

/* Waarden */

#kaarten {
  width: 80vw;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 50px;
}

.kaart {
  width: 25vw;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(58, 19, 214);
  border: solid black 2px;
}

.kaart :last-child {
  text-align: center;
}

/* footer */
/* https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div */

footer {
  position: absolute;
  left: 50%;
  bottom: 5;
}

#footer-text {
  font-size: 10px;
  position: relative;
  left: -50%;
}
