@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu&display=swap");

body {
  background-color: hsl(158, 48%, 25%);
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 21px;
  font-weight: lighter;
}

p {
  text-align: left;
  overflow-wrap: normal;
}

h1 {
  font-family: "Momo Signature", cursive;
  font-size: 60px;
  margin-bottom: -12px;
}

h2 {
  font-family: "Gaegu", sans-serif;
  font-size: 48px;
  margin-bottom: 30px;
}

h3 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 28px;
  margin-bottom: -10px;
}

/* Header */
.h1-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* Main */
.main-wrapper {
  max-width: 80vw;
  margin: auto;
  text-align: center;
}

.line {
  width: 80vw;
  height: 3px;
  background-color: hsl(158, 48%, 15%);
  margin-bottom: 20px;
}

#main {
  max-width: 70vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  gap: 30px;
}

#profielfoto {
  width: 350px;
  height: 250px;
  border: solid black 4px;
  border-radius: 10%;
  margin-top: 15px;
}

#visie {
  max-width: 70vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: -5px;
  margin-bottom: 40px;
  text-align: left;
}

#visie :first-child {
  margin-bottom: -15px;
}

#contactinfo {
  font-weight: 700;
}

/* Waarden */

#kaarten {
  width: 80vw;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 50px;
  margin-top: -15px;
}

.kaart {
  font-family: "Quicksand", sans-serif;
  color: hsl(158, 48%, 25%);
  width: 25vw;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: hsl(158, 48%, 98%);
  border: solid hsl(158, 48%, 20%) 5px;
}

.kaart :last-child {
  text-align: center;
}

/* footer */
/* https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div */

footer {
  position: absolute;
  left: 50%;
  bottom: 5;
}

#footer-text {
  font-size: 10px;
  position: relative;
  left: -50%;
}
